.page {
  margin: 100px 0px 0px 0px;
}
.page__more-gallery {
}
.page__information {
}

/*======================================================================================================================================================== */

.more-gallery {
}
.more-gallery__container {
}
.more-gallery__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  margin: 0px 0px 30px 0px;
}
.more-gallery__body > img {
    height: 350px;
}
.more-gallery__item {
  border-radius: 10px;
  overflow: hidden;
}
.more-gallery__item:hover .more-gallery__ibg::after {
  background-color: rgba(0, 0, 0, 0.5);
}
.more-gallery__item_big {
  flex: 1 1 70%;
}
.more-gallery__item_min {
  flex: 1 1 42%;
}
@media (max-width: 991.98px) {
  .more-gallery__item_big {
    flex: 1 1 70%;
  }
  .more-gallery__item_min {
    flex: 1 1 42%;
  }
}
@media (max-width: 767.98px) {
  .more-gallery__body {
    flex-direction: column;
    align-items: stretch;
  }
}
.more-gallery__ibg {
  position: relative;
  display: block;
  padding-bottom: 65%;
  cursor: pointer;
}
.more-gallery__ibg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.4s ease 0s;
}
.more-gallery__ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.more-gallery__sub-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.more-gallery__sub-item {
  flex: 1 1 100%;
  border-radius: 10px;
  overflow: hidden;
}
.more-gallery__sub-item:hover .more-gallery__sub-ibg::after {
  background-color: rgba(0, 0, 0, 0.4);
}
.more-gallery__sub-ibg {
  display: block;
  position: relative;
  padding-bottom: 53%;
  cursor: pointer;
}
.more-gallery__sub-ibg > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: revert;
}
.more-gallery__sub-ibg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.4s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
}
.more-gallery__group-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  width: 100%;
}
.more-gallery__group-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.more-gallery__button {
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 95px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  transition: box-shadow 0.3s ease 0s;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.more-gallery__button:hover {
  box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.5);
  color: #fff;
}
@media (max-width: 991.98px) {
  .more-gallery__button {
    padding: 10px;
    font-size: 14px;
  }
  .more-gallery__button img {
    flex: 0 0 14px;
    height: 14px;
  }
}

/*======================================================================================================================================================== */

.information {
  margin: 0px 0px 30px 0px !important;
}
.information__container {
}
.information__body {
  display: flex;
  gap: 15px;
}
@media (max-width: 1025px){
.information__body {
    flex-direction: column;
}
}
.information-content {
  flex: 0 1 700px;
}
.information-content__body {
}
.information-content__header {
  border-bottom: 2px solid #dbdbdb;
  margin: 0px 0px 30px 0px;
}
.information-content__label {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #8d8d8d;
  font-family: "Montserrat";
  letter-spacing: 2px;
  margin: 0px 0px 30px 0px !important;
}
.information-content__title {
  font-weight: 700 !important;
  font-size: 25px !important;
  line-height: 1.2 !important;
  color: #000000 !important;
  margin: 0px 0px 30px 0px !important;
  text-align: start !important;
}
.information-content__group-icons {
}
.group-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 767.98px){
    .group-icons {
        flex-direction: column;
    }
}
.group-icons__item {
  flex: 0 1 48%;
  display: inline-flex;
  align-items: flex-end;
  gap: 4px;
}
.group-icons__icon {
  flex: 0 0 15px;
  height: 15px;
}
.group-icons__type {
  margin: 0px 10px 0px 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #000;
}
.group-icons__value {
  margin: 0 !important;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  color: #000;
}
.information-content__main {
}
.information-content__text-content {
  margin: 0px 0px 32px 0px !important;
}
.information-content__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  margin: 0px 0px 10px 0px !important;
  color: #000;
}
.information-content__list {
}
.information-content__list-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #000 !important;
}
.information-content__list-item:not(:last-child) {
  margin: 0px 0px 5px 0px !important;
}
.information-content__tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 6px;
}
.information-content__tag {
  padding: 17px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: #8d8d8d;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  font-family: "Montserrat";
}

/*======================================================================================================================================================== */

.information-aside {
    flex: 0 1 37%;
    min-width: 0;
    
}

.information-aside__profile {
  background: #ffffff;
  border: 3px solid #cdcdcd;
  box-shadow: 0px 13px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
  margin: 0px 0px 20px 0px;
}
.information-aside__title-actions {
  display: flex;
}
.information-aside__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23;
  display: flex;
  align-items: center;
  color: #163f8e;
  margin: 0 !important;
}
@media (max-width: 767.98px){
    .information-aside__title {
        font-size: 25px;
    }
}
@media (max-width: 479.98px){
    .information-aside__title {
        font-size: 20px;
    }
    .information-aside__title-actions {
        flex-direction: column;
    }
    .information-aside__button-body {
        margin: 0 !important;
    }
}
.information-aside__title span.is-hidden {
  display: none;
}
.information-aside__title span {
  text-transform: uppercase;
}
.information-aside__value {
  margin: 0px 0px 0px 10px;
}
.information-aside__button-body {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 0px 0px 15px;
}
.information-aside__button {
  background-color: transparent;
  border: 0;
  width: 50px;
  margin: 0 !important;
  padding: 10px 10px !important;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 1px solid #fff;
}
@media (max-width: 479.98px){
    .information-aside__button {
        width: 40px;
    }
}
.information-aside__button:hover {
  border-color: #e8e1e0;
  background-color: #f7f5f5;
}
.information-aside__button:active,
._active .information-aside__button {
  border-color: transparent;
  background-color: #efebea;
}
.information-aside__button img {
  width: 100%;
}
.information-aside__select {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
._active .information-aside__select {
  display: block;
}
.information-aside__select-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.information-aside__option {
  background-color: transparent;
  width: 100%;
  border: 0;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.information-aside__option._selected,
.information-aside__option:hover {
  background-color: #163f8e;
  color: #fff;
}

.information-aside__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #000;
}

.information-aside__text img {
  width: 15px;
  height: 15px;
  display: inline-flex;
  align-items: center;
}

.information-aside__user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 0px 30px 0px;
}
.information-aside__user img {
  flex: 0 0 140px;
  height: 140px;
  border-radius: 50%;
  max-width: 100%;
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.1));
}
@media (max-width: 479.98px){
    .information-aside__user {
        flex-direction: column;
        gap: 10px;
    }
    .information-aside__user img {
        flex: 0 0 120px;
        height: 120px;
    }
}
.information-aside__user-name {
}
.information-aside__name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
}
.information-aside__professian {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #000;
  margin: 0 !important;
}
.information-aside__button-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767.98px){
    .information-aside__button-actions {
        flex-direction: column;
    }
}
.information-aside__button-action {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 15px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  font-family: "Montserrat";
  color: #fff !important;
}
.information-aside__button-action img {
  flex: 0 0 14px;
  height: 15px;
}
.information-aside__button_phone {
  background: linear-gradient(
      284.93deg,
      rgba(255, 255, 255, 0.2) 8.84%,
      rgba(255, 255, 255, 0) 77.89%
    ),
    #163f8e;
}
.information-aside__button:hover {
  background: linear-gradient(
      284.93deg,
      rgba(255, 255, 255, 0.2) 8.84%,
      rgba(255, 255, 255, 0) 77.89%
    ),
    #163f8e;
}
.information-aside__button_email {
  background: linear-gradient(
      284.93deg,
      rgba(255, 255, 255, 0.2) 8.84%,
      rgba(255, 255, 255, 0) 77.89%
    ),
    #865000;
}
.information-aside__button_email:hover {
  background: linear-gradient(
      284.93deg,
      rgba(255, 255, 255, 0.2) 8.84%,
      rgba(255, 255, 255, 0) 77.89%
    ),
    #865000;
}
.information-aside__button_whatsapp {
  background: linear-gradient(
      290.12deg,
      rgba(0, 0, 0, 0.2) 3.4%,
      rgba(0, 0, 0, 0) 79.36%
    ),
    #25d366;
}
.information-aside__button_whatsapp:hover {
  background: linear-gradient(
      290.12deg,
      rgba(0, 0, 0, 0.2) 3.4%,
      rgba(0, 0, 0, 0) 79.36%
    ),
    #25d366;
}

.information-aside__banner {
}
.banner {
}
.banner__body {
  overflow: hidden;
}
.banner__wrapper {
}
.swiper-wrapper {
}
.banner__slider {
}
.swiper-slide {
}
.banner__item {
    position: relative;
}
.banner__image {
    position: relative;
    /* background: linear-gradient(117.2deg, #C7E4FF -63.94%, rgba(199, 228, 255, 0) 118.18%); */
    border-radius: 25px;
    overflow: hidden;
    padding-bottom: 100%;
}
.banner__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__link {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #163f8e;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    padding: 15px 20px;
    display: inline-flex;
    align-items: center;
    gap: 9px;
    transition: none;
}
.banner__link::after{
    content:'';
    display: block;
    width: 20px;
    height: 20px;
    background: url("./images/download.svg") right / 20px 20px no-repeat;
}
.banner__link:hover {
    background-color: #fff;
    color: #163F8E;
}
.banner__link:hover::after{
    background: url("./images/download-blue.svg") right / 20px 20px no-repeat;
}
.banner__pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 15px 0px 0px 0px;
}

.banner__pagination span.swiper-pagination-bullet-active {
    background-color: #163F8E;
}
.banner__pagination span {
    flex: 0 0 40px;
    height: 4px;
    background-color: #D9D9D9;
    transition: background-color 0.3s ease 0s;
    border-radius: 10px;
}

.page__map-more {
}
.map-more {
    margin: 0px 0px 40px 0px;
}
.map-more__container {
}
.map-more__title {
    margin: 0px 0px 25px 0px !important;
    font-family: 'Montserrat' !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    line-height: 1.2 !important;
}
.map-more__body {
}